<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a ESI APP</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- Slides de bienvenida -->
  <swiper-container #swiper [slidesPerView]="1" [modules]="swiperModules">
    <swiper-slide>
      <img class="logo-its" src="../../../assets/img/welcome/its-logo-512.jpg" alt="">
      <h1>Bienvenidos</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, reiciendis?  incidunt ipsa eaque distinctio eveniet asperiores reprehenderit aspernatur?</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Acerca de ESIAPP</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, reiciendis?  incidunt ipsa eaque distinctio eveniet asperiores reprehenderit</p>
      <img class="children" src="../../../assets/img/welcome/002.png" alt="">
    </swiper-slide>

    <swiper-slide>
      <h1>Accesibilidad</h1>
      <p>A fin de brindar una experiencia inclusiva, nuestra aplicacion cuenta con opciones de accesibilidad variada para distinto tipo de publico. Puedes realizar los ajustes a tu medida. Accede a estas opciones en cualquier momento haciendo click en el logo</p>
      <div class="access-logo-container">
        <ion-icon color="primary" name="accessibility"></ion-icon>
      </div>
      
    </swiper-slide>
  </swiper-container>

  <div class="bullets">
    <div [ngClass]="bullet1 ? 'active' : '' " class="bullet"></div>
    <div [ngClass]="bullet2 ? 'active' : '' " class="bullet"></div>
    <div [ngClass]="bullet3 ? 'active' : '' " class="bullet"></div>
  </div>
  <ion-buttons>
    
    <ion-button slot="end" (click)="next()">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      Siguiente
    </ion-button>

    <ion-button *ngIf="!backDisabled" slot="start" (click)="previous()" >
      <ion-icon name="chevron-back-outline"></ion-icon>
      Anterior
    </ion-button>

  </ion-buttons>
  

</ion-content>
