/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// ACA SE CREAN LAS CLASES QUE VAN A MODIFICAR EL DOM CON LA OPCION DESEADA
// EL NOMBRE DE LA CLASE SE PASARA CUANDO SE LLAME EL METODO
// Y EL ACCESIBILITY SERVICE DEBERIA NOTIFICAR A TODOS LOS COMPONENTES


// clase para contraste negro
.constrast-black {
    img {
        opacity: 0.0 !important;
    }
    background: black !important;
}

// Clase para alto contraste para personas con visibilidad reducida/daltónicos

.high-visibility {
    img {
        opacity: 0.0 !important;
    }

    h2{
        color:#4d333b;
    }

    ion-input{
        background: #4d333b;
        color: #e5ca99;
        --highlight-color-focused: #e5ca99;
        }

    .ion-color-dark {
            --ion-color-base: #4d333b !important;
            --ion-color-contrast: #e5ca99 !important;
    }

    #access-logo-ctn {
        color: #4d333b;
        border: 5px solid #4d333b !important;
        --ion-color-primary: #e5ca99 !important;
        background: #4d333b !important;
    }

    background: #e5ca99 !important;

}


