*{
    overflow: hidden;
}

ion-content {
    
    .wrapper {
        overflow: hidden;
        max-height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
            opacity: 0.2;
            position: relative;

        }
        h2 {
            position: absolute;
            width: 100%;
            margin-top: 6rem;
            font-size: 2.4em;
            font-weight: 800;
            padding: 10%;
        }

        .form-container {
            border-top: 0.0001rem rgba(214, 214, 214, 0.757) solid;
            
            overflow: hidden;
            transform: translateY(-2px);
            height: 80vh;
            flex-grow: 1;
            border-radius: 20px 20px 0px 0px;
            background: var(--ion-color-light);
            padding: 16px 32px;
            text-align: start;
            display: flex;
            flex-direction: column;
            box-shadow: 0px -11px 12px -3px rgba(0,0,0,0.1);
            ion-input {
                margin: 8px 0px;
            }
            ion-button {
                margin: 20px 0px;
            }
            
            .access-logo-container {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                text-align: center;
                justify-content: center;
                font-size: 3em;
                border: 5px solid var(--ion-color-primary);
                background: #cccccc;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                margin: 32px auto;
                
            }
        }
    }
}