<ion-content [fullscreen]="true">
    <div class="wrapper">
      <img src="../../../../assets/img/welcome/005.png" alt="">
      <h2>Ingresa con tus datos</h2>
      <div class="form-container">
        <br><br>
        <ion-input fill="outline" label="Usuario" type="text" placeholder="Ingresa Usuario" labelPlacement="floating" color="dark"></ion-input>
        <ion-input fill="outline" label="Contraseña" type="password" placeholder="Ingresa Contraseña" labelPlacement="floating" color="dark"></ion-input>
        <ion-button click="onClick()" expand="block" color="dark" fill="solid">
          Ingresa
        </ion-button>
        <br><br>
        
      </div>
    </div>
</ion-content>
