.title {
    width: 100%;
    height: 3rem;
    text-align: center;
    margin: 0px;
    background-color: var(--ion-color-primary);
    padding-top: 1rem;
    
    h3 {
        margin: auto;
        font-size: 1em;
        color: #cccccc;
        font-weight: 600;
    }
}

.wrapper {
    background: #cccccc;
    min-width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    .row {
        min-width: 100%;
        max-width: 100%;
        padding: 0px 0.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-flow: row wrap;
        .btn {
            padding: 10px 0px;
            min-width: 120px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 10px 10px;
            border-radius: 15px;
            box-shadow: 0px 9px 45px -3px rgba(0,0,0,0.1);
            border: 1px solid rgba(0, 0, 0, 0.2);
            ion-icon {
                margin: auto;
                font-size: 1.75em;
            }
            
            p {
                max-height: fit-content;
                margin: 4px 0px;
                color: var(--ion-color-light);
            }

            p.active {
                font-weight: 600;
                color: var(--ion-color-primary)
            }

            
        }

        .btn.active {
            p {
                font-weight: 600;
                color: var(--ion-color-primary)
            }
        }

        

        .btn:hover {
            transform: scale(1.01);
            background: rgba(0, 0, 0, 0.2);
        }
    }
}